pandas
numpy
scipy
scikit-learn
category-encoders
tsfresh
xgboost
lightgbm
catboost
torch
torchvision
torchaudio
shap
lime
matplotlib
seaborn
plotly
ydata-profiling
pingouin
factor_analyzer
notebook
jupyterlab
